/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2016, 1:04:54 PM
    Author     : pedroreis
*/



body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 75%;
}

div.main-content {
    margin-top: 40px;
}

div.main-login {
    margin-top: 40px;
    border-radius: 20px;
    border: 3px solid #aaa;
    background-color: #eee;
    padding: 20px;
}

div.post-content {
    min-height: 50px;
    padding-top: 10px;
}

div.alert-danger {
    margin-top: 20px;
}

div.user-timeline {
    margin-top: 20px;
}


div.jumbotron {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
}

label.label-login {
    padding: 0;
}

div.header {
    color: #fff;
    background-color: #337ab7;
    border-bottom: 5px solid #003182;
}

div.header a {
    text-decoration: none;
    color: #fff;
}

ul.header-navigation, ul.user-actions {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.header-navigation li a {
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
}

ul.header-navigation li a:hover {
    text-decoration: none;
    background-color: #2e6da4;
}

ul.header-navigation li {
    float: right;
}

ul.header-navigation li:first-child {
    float: left;
}

ul.header-navigation li:first-child a {
    font-size: 35px;
    font-weight: bold;
}

ul.header-navigation li:first-child a:hover {
    background-color: #337ab7;
}

div.custom-nav {
    width: 80%;
    margin: 0 auto;
}

.btn {
    font-size: 18px;
    font-weight: bold;
}

ul.user-actions li {
    display: inline-block;
}

ul.user-actions li a {
    padding: 5px 20px 0 0;
    font-size: 14px;
}

div.post {
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

h3.post-author {
    margin-top: 0;
    display: inline-block;
    font-size: 24px;
}

h6.post-date {
    margin-top: 0;
    display: inline-block;
    float: right;
    font-size: 14px;
}

.user-firstname {
    font-size: 26px;
}
