/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2016, 1:04:54 PM
    Author     : pedroreis
*/

body {
    font-family: 'Raleway', sans-serif;
}

div.main-content {
    margin-top: 80px;
    border-radius: 20px;
    border: 3px solid #aaa;
    background-color: #eee;
    padding: 20px;
}

div.jumbotron {
    margin-top: 40px;
}

label.label-login {
    padding: 0;
}

div.header {
    color: #fff;
    background-color: #337ab7;
    border-bottom: 5px solid #2e6da4;
}

div.header a {
    text-decoration: none;
    color: #fff;
}

ul.header-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.header-navigation li a {
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
}

ul.header-navigation li a:hover {
    text-decoration: none; 
    color: #eee;
    background-color: #2e6da4;
}

ul.header-navigation li {
    float: right;
}

ul.header-navigation li:first-child {
    float: left;
}

ul.header-navigation li:first-child a {
    font-size: 30px;
    font-weight: bold;
}

div.custom-nav {
    width: 80%;
    margin: 0 auto;
}

